<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  type = text / javascript;
  $(function () {
    $("a#create").on("click", function (e) {
      e.preventDefault();
      $.getJSON("/create", function (data) {});
      return false;
    });
  });
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airplanes</title>
  </head>
  <body>
    <div class="container">
      <h1>Creating airplanes</h1>
      <form method="post">
        <label for="type_of_airplane">Type of airplane:</label><br />
        <input type="text" id="type_of_airplane" class="form-coltrol" /><br />
        <label for="year">Year:</label><br />
        <input type="number" id="year" class="form-coltrol" /><br />
        <label for="flight_altitude">Flight altitude:</label><br />
        <input type="number" id="flight_altitude" class="form-coltrol" /><br />
        <label for="max_speed">Max speed:</label><br />
        <input type="number" id="max_speed" class="form-coltrol" /><br />
        <input
          type="submit"
          id="create"
          class="btn btn-success"
          value="Create"
        /><br />
      </form>
    </div>
  </body>
</html>
